.yellow-bg {
    background: yellow;
}
.alert-box {
    background: rgb(122, 122, 251);
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    display: none;
}
.alert-box p {
    display: inline;
}